:80 {
    root * /usr/share/caddy
    route {
        header /assets/* Cache-Control no-transform
        reverse_proxy /api/* https://lineageos-updater-backend.fly.dev
        try_files {path} /index.html
        file_server
    }
    log
}
