.group {
  padding: 16px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#app.dark .group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.group-header {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #167c80;
  letter-spacing: 1px;
}
