.tab-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.tab-page .list-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tab-page .list {
  min-width: 0;
  max-width: 756px;
  margin: 0 auto;
  padding: 0 8px;
}
