@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 h-full w-full p-0;
  }

  #app {
    @apply text-black text-opacity-85 dark:bg-dark dark:text-white dark:text-opacity-85;
  }

  table {
    margin-bottom: 16px;
    border-collapse: collapse;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
  }

  th {
    padding: 8px;
  }

  td {
    padding: 8px 16px 8px 16px;
  }

  tr {
    @apply bg-[#f0f0f0] dark:bg-[#212529];
  }

  tr:nth-child(odd) {
    @apply bg-[#d3d3d3] dark:bg-[#2c3034];
  }

  th {
    @apply bg-brand-light text-dark dark:bg-brand-dark dark:text-brand-light;
  }
}

@layer components {
  .btn {
    @apply rounded-full bg-brand-light text-black
    transition duration-150
    ease-out hover:bg-brand-primary dark:bg-brand-dark dark:text-brand-light;
  }
}

.simplebar-track,
.simplebar-track.simplebar-vertical {
  width: 10px;
}

.simplebar-scrollbar::before {
  border-radius: 5px;
  @apply bg-black bg-opacity-35 dark:bg-white dark:bg-opacity-35 !important;
}

@media (max-width: 1024px) {
  .simplebar-track,
  .simplebar-track.simplebar-vertical {
    width: 6px;
  }

  .simplebar-scrollbar::before {
    border-radius: 3px;
  }
}
